@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet');
*{
  box-sizing: border-box; 
}

body {
    background: #404040;
    color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
  }
  
header{
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    display: inline-block;
}

header > h1{
    color: black;
    position: fixed;
    z-index: 99;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    top: -20px;
    left:  585px;
    border: 1px solid black;
    border-radius: 4px;
}

.badge{
  background: #888888;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  transition: all 1s;
  padding: 15px; 
}

.visualization{
  display: inline-flex;
  font-family: 'Ubuntu Mono', monospace;
  width: 30px;
}

#linesBtn{
  z-index: 99;
  position: absolute;
  top: 800px;
  left: 215px;
}

#statisticsBtn {
  z-index: 99;
  position: absolute;
  top: 800px;
  left: 300px;
}

#suburbBtn{
  z-index: 99;
  position: absolute;
  top: 800px;
  left: 100px;
}

.addition{
  z-index: 99;
  background: none;
  position: absolute;
  font-size: 15px;
  color: black;
  font-weight: bold;
  top: 840px;
  right: 30px;
  padding: 10px;
  border: none;
  transition: all 1s;
}

#aboutText{
  z-index: 99;
  background: none;
  position: absolute;
  font-size: 15px;
}

/*MODAL ABOUT-------------------------------------------------------------------------------------------------------*/
#aboutBtn {
  z-index: 99;
  background: none;
  position: absolute;
  font-size: 15px;
  border: none;
  top: 820px;
  left: 1370px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  transition: all 1;
}

.abModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  
}

.aboutModalContent {
  background-color: whitesmoke(110, 170, 170);
  z-index: 99;
  margin: auto;
  padding: 10px;
  padding: 20px;
  border: 0.5px solid rgb(175, 175, 175); 
  width: 80%;
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 15px;
}

/*CLOSE nad HOVER function Button */
.aboutClose {
  color: #292929;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.aboutClose:hover,
.aboutClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#aboutBtn:hover{
  cursor: pointer;
  color: rgb(88, 141, 63);
  transition: all 2s;
}

/*MODAL STATISTICS----------------------------------------------------------------------------------------------*/

.statModalContent {
  background-color: whitesmoke(110, 170, 170);
  z-index: 99;
  margin: auto;
  padding: 10px;
  padding: 20px;
  border: 0.5px solid rgb(175, 175, 175); 
  width: 80%;
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 15px;
}

.statModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  
}

/* CLOSE Button*/
.statClose {
  color: #292929;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.statClose:hover,
.statClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.av{
  position: absolute;
  z-index: 99;
}

/*POP UP STATISTICS----------------------------------------------------------------------------------------------*/

.containerLines {
  position: fixed;
  
  background: #888888;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px; 
  width: 25%;
  height: 25%;
  top: 15px;
  left: 15px;
  z-index: 99;
}

/* Sidebar NETWORK lines----------------------------------------------------------------------------------------------------------------------*/
#sidebarLine{
  position: absolute;
  display: none;
  z-index: 1;
  color: whitesmoke;
  background: #888888;
  border: 2px solid white;
  border-radius: 4px;
  right: 20px;
  top: 200px;
  font-family: 'Ubuntu', monospace;
  padding: 15px;
}

.lin {
  font-weight: bold;
}

.lines > h3{
  font-weight: bold;
}

/* Sidebar network suburbs----------------------------------------------------------------------------------------------------------------------*/
#sidebarSuburb{
  position: absolute;
  display: none;
  z-index: 1;
  color: whitesmoke;
  background: #888888;
  border: 2px solid white;
  border-radius: 4px;
  right: 20px;
  top: 200px;
  font-family: 'Ubuntu', monospace;
  padding: 15px;
}

.sub {
  font-weight: bold;
}

.sub > h3{
  font-weight: bold;
}

/*
.container{
  position: absolute;
  z-index: 99;
  background: red;
  left: 200px;
}
*/

.badge:hover{
  cursor: pointer;
  background: rgb(88, 141, 63);
}

/*MAP-----------------------------------------------------------------------------------------------------------------------------------------------*/
#map {
    border-left: 1px solid #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  
/*LAYERS----------------------------------------------------------------------------------------------------------------------------------------------------*/

#menu {
  background: #fff;
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 100px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
  }
   
  #menu a {
  font-size: 50px;
  color: #404040;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(245, 0, 0, 0.25);
  text-align: center;
  }
   
  #menu a:last-child {
  border: none;
  }
   
  #menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  }
   
  #menu a.active {
  background-color: #3887be;
  color: #ffffff;
  }
   
  #menu a.active:hover {
  background: #3074a4;
  }

  





